{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="gallery">

                <div class="gallery-box">
                    <a href="{{ base_url }}/image/IMG_0321.JPG" target="_blank">
                        <img 
                        srcset="{{ base_url }}/image/IMG_0321.JPG?w=300&h=300&crop-to-fit 300w, {{ base_url }}/image/IMG_0321.JPG?w=320&h=320&crop-to-fit 320w"
                        sizes="(max-width: 600px) 320px, 300px"
                        src="{{ base_url }}/image/IMG_0321.JPG?w=300&h=300&crop-to-fit"
                        alt="Wave 1">
                    </a>    
                </div>

                <div class="gallery-box">
                    <a href="{{ base_url }}/image/IMG_0315.JPG" target="_blank">
                        <img 
                        srcset="{{ base_url }}/image/IMG_0315.JPG?w=300&h=300&crop-to-fit 300w, {{ base_url }}/image/IMG_0315.JPG?w=320&h=320&crop-to-fit 320w"
                        sizes="(max-width: 600px) 320px, 300px"
                        src="{{ base_url }}/image/IMG_0315.JPG?w=300&h=300&crop-to-fit"
                        alt="Wave 2">
                    </a>    
                </div>

                <div class="gallery-box">
                    <a href="{{ base_url }}/image/IMG_0323.JPG" target="_blank">
                        <img 
                        srcset="{{ base_url }}/image/IMG_0323.JPG?w=300&h=300&crop-to-fit 300w, {{ base_url }}/image/IMG_0323.JPG?w=320&h=320&crop-to-fit 320w"
                        sizes="(max-width: 600px) 320px, 300px"
                        src="{{ base_url }}/image/IMG_0323.JPG?w=300&h=300&crop-to-fit"
                        alt="Wave 3">
                    </a>    
                </div>

                <div class="gallery-box">
                    <a href="{{ base_url }}/image/IMG_0376.JPG" target="_blank">
                        <img 
                        srcset="{{ base_url }}/image/IMG_0376.JPG?w=300&h=300&crop-to-fit 300w, {{ base_url }}/image/IMG_0376.JPG?w=320&h=320&crop-to-fit 320w"
                        sizes="(max-width: 600px) 320px, 300px"
                        src="{{ base_url }}/image/IMG_0376.JPG?w=300&h=300&crop-to-fit"
                        alt="Biarritz 1">
                    </a>    
                </div>

                <div class="gallery-box">
                    <a href="{{ base_url }}/image/IMG_0366.JPG" target="_blank">
                        <img 
                        srcset="{{ base_url }}/image/IMG_0366.JPG?w=300&h=300&crop-to-fit 300w, {{ base_url }}/image/IMG_0366.JPG?w=320&h=320&crop-to-fit 320w"
                        sizes="(max-width: 600px) 320px, 300px"
                        src="{{ base_url }}/image/IMG_0366.JPG?w=300&h=300&crop-to-fit"
                        alt="Biarritz 2">
                    </a>    
                </div>

                <div class="gallery-box">
                    <a href="{{ base_url }}/image/IMG_0365.JPG" target="_blank">
                        <img 
                        srcset="{{ base_url }}/image/IMG_0365.JPG?w=300&h=300&crop-to-fit 300w, {{ base_url }}/image/IMG_0365.JPG?w=320&h=320&crop-to-fit 320w"
                        sizes="(max-width: 600px) 320px, 300px"
                        src="{{ base_url }}/image/IMG_0365.JPG?w=300&h=300&crop-to-fit"
                        alt="Biarritz 3">
                    </a>    
                </div>

                <div class="gallery-box">
                    <a href="{{ base_url }}/image/IMG_0297.JPG" target="_blank">
                        <img 
                        srcset="{{ base_url }}/image/IMG_0297.JPG?w=300&h=300&crop-to-fit 300w, {{ base_url }}/image/IMG_0297.JPG?w=320&h=320&crop-to-fit 320w"
                        sizes="(max-width: 600px) 320px, 300px"
                        src="{{ base_url }}/image/IMG_0297.JPG?w=300&h=300&crop-to-fit"
                        alt="Surf 1">
                    </a>    
                </div>

                <div class="gallery-box">
                    <a href="{{ base_url }}/image/IMG_0296.JPG" target="_blank">
                        <img 
                        srcset="{{ base_url }}/image/IMG_0296.JPG?w=300&h=300&crop-to-fit 300w, {{ base_url }}/image/IMG_0296.JPG?w=320&h=320&crop-to-fit 320w"
                        sizes="(max-width: 600px) 320px, 300px"
                        src="{{ base_url }}/image/IMG_0296.JPG?w=300&h=300&crop-to-fit"
                        alt="Surf 2">
                    </a>    
                </div>

                <div class="gallery-box">
                    <a href="{{ base_url }}/image/IMG_0406.JPG" target="_blank">
                        <img 
                        srcset="{{ base_url }}/image/IMG_0406.JPG?w=300&h=300&crop-to-fit 300w, {{ base_url }}/image/IMG_0406.JPG?w=320&h=320&crop-to-fit 320w"
                        sizes="(max-width: 600px) 320px, 300px"
                        src="{{ base_url }}/image/IMG_0406.JPG?w=300&h=300&crop-to-fit&q=100"
                        alt="Surf 3">
                    </a>    
                </div>
        </div>

        <div class="friday-embed-container">
        <iframe src="https://www.youtube.com/embed/1TewCPi92ro" 
        title="ITS FRIDAY THEN, ITS SATURDAY, SUNDAY! GO MUFASA!" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
        </div>

    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>


